<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>
<body>

<app-menu></app-menu>  
<div class="image">

</div>
<div class="contenu">
<h2 class="text-center">Les Clients</h2>
<div class="form-group ">
  <input type="text" class="form-control col-md-2 float-sm-right  " placeholder="Search Here" [(ngModel)]="term">
</div>
<table class="table table-bordered table table-striped" *ngIf="clients.length !=0">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Telephone</th>
    </tr>
</thead>
<tbody>
  
    <tr *ngFor="let client of clients | filter:term" style="font-weight: bold;" class="text-white">
      <td>{{client.nom_client}}</td>
      <td>{{client.email_client}}</td>
      <td>{{client.adresse_client}}</td>
      <td>{{client.telephone_client}}</td>
      <td class="btn btn-success" [routerLink]="['/modifierClient',client.id_client]"  (click)="edit(client)"><i class='fas fa-user-edit'></i> Editer</td> 
      <td class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right" (confirm)="supprimer(client.id_client)" (cancel)="cancelClicked=true"><i class='fa fa-trash'></i> Supprimer</td>
      
    </tr>
  </tbody>
</table>
<div class="text-center">
    <button class="btn btn-primary" [routerLink]="['/ajouterClient']"><i class="fa fa-plus-square"></i> Ajouter</button>
</div>
</div>
</body>
</html>