<body>
    <div class="image"></div>
    <div class="contenu">
<h1 class="text-center">Ajouter Un Client</h1>
<div class="container">
    <form [formGroup]="ajoutForm" (ngSubmit)="onAjout()" >
        <div class="form-group">
            <label for="nom"  style="background-color: rgba(0, 0, 0, 0.2); color: white;">Nom:</label>
            <input type="text" name="nom" id="nom" class="form-control" formControlName="nom" pattern="[A-Za-z' ']+" />
            <div *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                <div *ngIf="nom.errors.required " class="alert alert-danger"> Nom est obligatoire </div> 
                <div *ngIf="nom.errors.pattern" class="alert alert-danger"> Nom doit etre obligatoirement composer par des caractéres alphanumériques</div> 
            </div>
        </div>


        <div class="form-group">
            <label for="email"  style="background-color: rgba(0, 0, 0, 0.2); color: white;">Email:</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email" pattern="[A-Za-z0-9.]+@[A-Z a-z0-9.]+" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required " class="alert alert-danger"> Email est obligatoire </div> 
                <div *ngIf="email.errors.pattern" class="alert alert-danger"> Email doit etre obligatoirement composer par des caractéres alphanumériques et contenir '@' </div> 
            </div>
        </div>

        <div class="form-group">
            <label for="adresse"  style="background-color: rgba(0, 0, 0, 0.2); color: white;">Adresse:</label>
            <input type="text" name="adresse" id="adresse" class="form-control" formControlName="adresse" />
        </div>

        <div class="form-group">
            <label for="tel" style="background-color: rgba(0, 0, 0, 0.2); color: white;">Telephone:</label>
            <input type="number" name="telephone" id="tel" class="form-control" formControlName="telephone" />
        </div>
        
        <button class="btn btn-success" [disabled]="ajoutForm.invalid">Envoyer</button>
        <button type="reset" class="btn btn-danger">Annuler</button>
        <div class="text-center">
            <button [routerLink]="['/client']" class="text-white" class="btn btn-primary ">Retour</button>
        </div>
    </form>
    </div>
</div>
</body>