<body>
<h1 class="text-center">Créer Un Compte</h1>
<div class="container">
    <form [formGroup]="creerForm" (ngSubmit)="onCreer()" >
        <div class="row">
            <div class="form-group col-md-6">
                <label for="nom">Nom:</label>
                <input type="text" name="nom" id="nom" class="form-control" formControlName="nom" pattern="[A-Za-z' ']+"/>
                <div *ngIf="nom.invalid && (nom.dirty || nom.touched)">
                    <div *ngIf="nom.errors.required " class="alert alert-danger"> Nom est obligatoire </div> 
                    <div *ngIf="nom.errors.pattern" class="alert alert-danger"> Nom doit etre obligatoirement composer par des caractéres alphanumériques et contenir '@' </div> 
                </div>
            </div>
            
            <div class="form-group col-md-6">
                <label for="prenom">Prénom:</label>
                <input type="text" name="prenom" id="prenom" class="form-control" formControlName="prenom" pattern="[A-Za-z' ']+"/>
                <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)">
                    <div *ngIf="prenom.errors.required " class="alert alert-danger"> Prenom est obligatoire </div> 
                    <div *ngIf="prenom.errors.pattern" class="alert alert-danger"> Prenom doit etre obligatoirement composer par des caractéres alphanumériques et contenir '@' </div> 
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email" pattern="[A-Za-z0-9.]+@[A-Z a-z0-9.]+"/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required " class="alert alert-danger"> Email est obligatoire </div> 
                <div *ngIf="email.errors.pattern" class="alert alert-danger"> Email doit etre obligatoirement composer par des caractéres alphanumériques et contenir '@' </div> 
            </div>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="form-control" formControlName="username" pattern="[A-Za-z' ']+"/>
            <div *ngIf="username.invalid && (username.dirty || username.touched)">
                <div *ngIf="username.errors.required " class="alert alert-danger"> Username est obligatoire </div> 
                <div *ngIf="username.errors.pattern" class="alert alert-danger"> Username doit etre obligatoirement composer par des caractéres alphanumériques et contenir '@' </div> 
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password" minlength="6" />
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required " class="alert alert-danger"> Password est obligatoire </div> 
                <div *ngIf="password.errors.minlength " class="alert alert-danger"> Password doit etre minimum de longueur 6 </div> 
            </div>
        </div>
        <div class="form-group">
            <label for="adresse">Adresse:</label>
            <input type="text" name="adresse" id="adresse" class="form-control" formControlName="adresse" />
        </div>

        <div class="form-group">
            <label for="naiss">Date de naissance:</label>
            <input type="date" name="naissance" id="naiss" class="form-control" formControlName="naissance" required />
        </div>

        <div class="form-group">
            <label for="tel">Telephone:</label>
            <input type="text" name="telephone" id="tel" class="form-control" formControlName="telephone" maxlength="11" minlength="8"/>
        </div>
        <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)">
            <div *ngIf="telephone.errors.required " class="alert alert-danger"> Telephone est obligatoire </div> 
            <div *ngIf="telephone.errors.minlength " class="alert alert-danger"> Telephone doit etre minimum de longueur 8 et maximum de longueur 11 </div> 
        </div>
        
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="genre" value="Homme"formControlName="genre" >Homme
            </label>
        </div>

        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="genre" value="Femme" formControlName="genre">Femme
            </label>
        </div>
        <br>
        <button class="btn btn-success" disabled="creerForm.invalid">Envoyer</button>
        <button type="reset" class="btn btn-danger">Annuler</button>
        
    </form>
    <div class="text-center">
        <button [routerLink]="['/authentificationManager']" class="text-white" class="btn btn-primary ">Retour</button>
    </div>
</div>
</body>